@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixinsMobile.scss';

.subscribe {
    display: flex;
    justify-content: center;
    width: 100%;

    &__inner {
        position: relative;
        margin-top: 100px;
        margin-bottom: 156px;
        margin-left: 34px;
        background: url(../../../../public/assets/subscribe/mask-bg.png) #6C5FBC;
        border-radius: 30px;
        width: 1248px;
        height: 280px;
        padding-top: 37px;
        padding-left: 66px;

        @include respond-to(mobile-portrait) {//0px
            width: 300px;
            height: 257px;
            margin-left: 0;
            padding-left: 0px;
            padding-top: 36px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
        }
        @include respond-to(mobile-landscape) {//480px
            width: 460px;
        }

        @include respond-to(tablet-portrait) {//768px
            width: 700px;
            height: 199px;
            padding-top: 26px;
            padding-left: 30px;
            margin-left: 0;
            display: block;
            margin-top: 130px;
        }

        @include respond-to(tablet-landscape) {//992px
            width: 863px;
            height: 199px;
            padding-top: 26px;
            padding-left: 47px;
        }
        @include respond-to(desktop) {//1200px
            width: 1050px;
            height: 242px;
            margin-left: 0;
            padding-top: 37px;
            padding-left: 66px;
            margin-top: 182px;
        }
        @include respond-to(large-desktop) {//1600px
            width: 1248px;
            height: 280px;
        }
    }

    &__image {
        background: url('../../../../public/assets/subscribe/food.png') no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 86px;
        right: 72px;
        width: 274px;
        height: 276px;

        @include respond-to(mobile-portrait) {//0px
            width: 169px;
            height: 170px;
            top: 189px;
            right: 72px;
        }
        @include respond-to(tablet-portrait) {//768px
            width: 195px;
            height: 196px;
            right: 52px;
            top: 45px;
        }
        @include respond-to(tablet-landscape) {//992px
            width: 195px;
            height: 196px;
            right: 52px;
            top: 45px;
        }
        @include respond-to(desktop) {//1200px
            width: 240px;
            height: 241px;
            right: 72px;
            top: 64px;
        }
        @include respond-to(large-desktop) {//1600px
            width: 274px;
            height: 276px;
            right: 72px;
        }
        }

    &__action {
        font-family: $font-family-brand;
        font-weight: 800;
        font-size: 70px;
        line-height:1.5;
        text-align: center;
        color: #fff;

        @include respond-to(mobile-portrait) {//0px
            font-size: 41px;
        }
        @include respond-to(tablet-portrait) {//768px
            font-size: 49px;
        }
        @include respond-to(tablet-landscape) {//992px
            font-size: 49px;
        }
        @include respond-to(desktop) {//1200px
            font-size: 64px;
        }
        @include respond-to(large-desktop) {//1600px
            font-size: 70px;
        }
    }

    &__form {
        margin-top: 9px;
    }
}