@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixinsMobile';


.modal {

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    &__content {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        overflow: hidden;
        max-height: 1024px;
        height: 100%;

        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            max-height: 728px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            max-height: 1024px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }
    }

    &__body {
        display: flex;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }

    &__left, &__right {
        flex: 1;
        padding-top: 32px;
        padding-inline: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            padding-top: 23px;
            padding-inline: 34px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            padding-top: 32px;
            padding-inline: 48px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }
}

    &__logo {
        width: 53px;
        height: 49px;
    }

    &__title {
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 35px;
        line-height: 125%;
        letter-spacing: -0.04em;
        color: #323142;
        margin-top: 140px;
        text-align: center;

        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            font-size: 25px;
            margin-top: 54px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            font-size: 35px;
            margin-top: 140px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }
    }

    &__soc1al-buttons {
        display: flex;
        justify-content: center;
        gap: 21px;
        margin-top: 48px;
        margin-bottom: 33px;

        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            gap: 15px;
            margin-top: 35px;
            margin-bottom: 24px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            gap: 21px;
            margin-top: 48px;
            margin-bottom: 33px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }
    }

    &__google-button, &__apple-button {
        border-radius: 13px;
        width: 183px;
        height: 63px;
        background-color: #f5f5f5;
        border: none;

        
        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            width: 130px;
            height: 45px;
            border-radius: 9px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            width: 183px;
            height: 63px;
            border-radius: 13px;
        
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
       }
    }

    &__or-text {
        font-family: $font-family-brand;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(0, 90, 100, 0.35);
        text-align: center;
        margin-bottom: 40px;

        @include respond-to(mobile-portrait) {//0px
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            font-size: 14px;
            margin-bottom: 30px;
        }

        @include respond-to(tablet-landscape) {//992px
        }
        @include respond-to(desktop) {//1200px
            font-size: 20px;
            margin-bottom: 40px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }
    }

    &__auth-form {
        width: 384px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include respond-to(tablet-portrait) {//768px
            width: 273px;
            gap: 17px;
        }
        @include respond-to(desktop) {//1200px
            width: 384px;
            gap: 25px;
        }
    }

    &__form-group {
        position: relative;
    }
    &__form-input {
        box-sizing: border-box;
        border-radius: 14px;
        width: 384px;
        height: 74px;
        background-color: #f5f5f5;
        border: none;
        padding: 23px ;
        padding-left: 75px; /* Увеличиваем отступ слева для текста и иконки */

        @include respond-to(tablet-portrait) {//768px
            width: 272px;
            height: 53px;
            border-radius: 10px;
            padding: 17px ;
            padding-left: 56px;
        }
        @include respond-to(desktop) {//1200px
            width: 384px;
            height: 74px;
            border-radius: 14px;
            padding: 23px ;
            padding-left: 75px;
        }

        &::placeholder {
            font-family: $font-family-brand;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #c2c3cb;

            @include respond-to(tablet-portrait) {//768px
                font-size: 11px;
            }
            @include respond-to(desktop) {//1200px
                font-size: 16px;
            }
        }

        &:focus, &:active {
            outline: none; /* Убираем стандартное обрамление */
            border: 2.26px solid #6c5fbc;
            border-radius: 14px;
            color: #6c5fbc;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                border: 1.19px solid #6c5fbc;
                border-radius: 10px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                border: 2.26px solid #6c5fbc;
                border-radius: 14px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }
        }

        &__input-icon {
            position: absolute;
            border: none;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            width: 23px;
            height: 18px;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                width: 16px;
                height: 13px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                width: 23px;
                height: 18px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }

        &__toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background: none;
            width: 88px;
            height: 80px;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                height: 52px;
                width: 52px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }

        &__forgot-password {
            font-family: $font-family-brand;
            font-weight: 400;
            font-size: 15px;
            color: #6c5fbc;
            opacity: 0.7;
            text-align: right;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                font-size: 11px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                font-size: 15px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }

        &__submit-button {
            border-radius: 16px;
            width: 382px;
            height: 74px;
            background-color: #6c5fbc;
            font-family: $font-family-brand;
            font-weight: 600;
            font-size: 17px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #f3f5f6;
            box-sizing: border-box;
            border: none;
            margin-bottom: 17px;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                width: 272px;
                height: 53px;
                font-size: 12px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                width: 382px;
                height: 74px;
                font-size: 17px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }

        &__toggle-auth-mode {
            font-family: $font-family-brand;
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.01em;
            color: #3e3e3e;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                font-size: 13px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                font-size: 18px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }

        &__toggle-auth-link {
            font-weight: 700;
            color: #6c5fbc;
        }


        &__footer {
            margin-top: 140px;
            width: 100%;
            max-width: 681px;
            display: flex;
            justify-content: space-between;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                margin-top: 68px;
                margin-bottom: 34px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                margin-top: 140px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }

                a, span {
                    font-family: $font-family-brand;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.01em;
                    color: #718096;

                    @include respond-to(mobile-portrait) {//0px
                    }

                    @include respond-to(mobile) {//320px
                    } 

                    @include respond-to(mobile-landscape) {//480px
                    }

                    @include respond-to(tablet-portrait) {//768px
                        font-size: 11px;
                    }

                    @include respond-to(tablet-landscape) {//992px
                    }
                    @include respond-to(desktop) {//1200px
                        font-size: 16px;
                    }
                    @include respond-to(large-desktop) {//1600px
                    }
                    @include respond-to(tv) {//1920px
                    }
                }
        }

        &__right {
            height: 100%;
            background-color: #6C5FBC;
            padding-top: 249px;
            padding-left: 78px;

            @include respond-to(mobile-portrait) {//0px
                display: none;
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                padding-top: 177px;
                padding-left: 55px;
                display: block;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                padding-top: 249px;
                padding-left: 78px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }

            &-image-content {
                position: relative;
                margin-bottom: 75px;

                @include respond-to(mobile-portrait) {//0px
                }

                @include respond-to(mobile) {//320px
                } 

                @include respond-to(mobile-landscape) {//480px
                }

                @include respond-to(tablet-portrait) {//768px
                    margin-bottom: 53px;
                }

                @include respond-to(tablet-landscape) {//992px
                }
                @include respond-to(desktop) {//1200px
                    margin-bottom: 75px;
                }
                @include respond-to(large-desktop) {//1600px
                }
                @include respond-to(tv) {//1920px
                }

                &:before {
                    content: url('/assets/modal/before.png');
                    position: absolute;
                    top: -15%;
                    left: -5%;
                    width: 114px;
                    height: 114px;
                }

                    &:after {
                    content: url('/assets/modal/after.png');
                    position: absolute;
                    bottom: -10%;
                    right: 15%;
                    width: 114px;
                    height: 114px;

                    @include respond-to(mobile-portrait) {//0px
                    }

                    @include respond-to(mobile) {//320px
                    } 

                    @include respond-to(mobile-landscape) {//480px
                    }

                    @include respond-to(tablet-portrait) {//768px
                        bottom: -10%;
                        right: 3%;
                    }

                    @include respond-to(tablet-landscape) {//992px
                    }
                    @include respond-to(desktop) {//1200px
                        bottom: -10%;
                        right: 15%;
                    }
                    @include respond-to(large-desktop) {//1600px
                    }
                    @include respond-to(tv) {//1920px
                    }
                }

                img {
                    width: 548px;
                    height: 416px;
                    box-sizing: border-box;
            }
        }

        &-content {
            max-width: 500px;
            width: 100%;
            margin-bottom: 32px;

            @include respond-to(mobile-portrait) {//0px
            }

            @include respond-to(mobile) {//320px
            } 

            @include respond-to(mobile-landscape) {//480px
            }

            @include respond-to(tablet-portrait) {//768px
                margin-bottom: 27px;
            }

            @include respond-to(tablet-landscape) {//992px
            }
            @include respond-to(desktop) {//1200px
                margin-bottom: 32px;
            }
            @include respond-to(large-desktop) {//1600px
            }
            @include respond-to(tv) {//1920px
            }
        }
        &-title {
                font-family: $font-family-deadline;
                font-weight: 800;
                font-size: 40px;
                line-height: 110%;
                text-align: center;
                color: #fff;
                margin-bottom: 20px;

                @include respond-to(mobile-portrait) {//0px
                }

                @include respond-to(mobile) {//320px
                } 

                @include respond-to(mobile-landscape) {//480px
                }

                @include respond-to(tablet-portrait) {//768px
                    font-size: 28px;
                    margin-bottom: 14px;
                }

                @include respond-to(tablet-landscape) {//992px
                }
                @include respond-to(desktop) {//1200px
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                @include respond-to(large-desktop) {//1600px
                }
                @include respond-to(tv) {//1920px
                }
            }

            &-text {
                font-family: $font-family-deadline;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.01em;
                text-align: center;
                color: #fff;
                opacity: 0.7;

                @include respond-to(mobile-portrait) {//0px
                }

                @include respond-to(mobile) {//320px
                } 

                @include respond-to(mobile-landscape) {//480px
                }

                @include respond-to(tablet-portrait) {//768px
                    font-size: 9px;
                }

                @include respond-to(tablet-landscape) {//992px
                }
                @include respond-to(desktop) {//1200px
                    font-size: 14px;
                }
                @include respond-to(large-desktop) {//1600px
                }
                @include respond-to(tv) {//1920px
                }
            }
        }
}