@import '/src/styles/utils/_variables';

$color1: #5c4eae;
$color2: #f9f9f9;

$box-shadow: 8px 21px 100px 0 rgba(0, 0, 0, 0.1);

.pricing {
    width: 100%;
    margin-bottom: 170px;

    &__container-first {
        position: relative;
        margin-top: 67px;
        margin-bottom: 150px;
        height: 823px;
        width: 1248px;
        padding-bottom: 50px;
        border: 1px solid black;

        &::before {
            content: url('/assets/pricing/stroke.png');
            position: absolute;
            width: 47px;
            height: 40px;
            bottom: 0px;
            left: 137px;
        }
    }
    &__header {
        position: relative;
        width: 1248px;
        height: 334px;
        background-color: $color1;
        padding-top: 44px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: url('/assets/pricing/arrow.png');
            position: absolute;
            width: 83px;
            height: 78px;
            top: 43px;
            left: 422px;
        }
        &::after {
            content: url('/assets/pricing/stroke-white.png');
            position: absolute;
            width: 41px;
            height: 36px;
            top: 104px;
            right: 121px;
        }
    }

    &__header-title {
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: $color2;
        text-align: center;
        margin-bottom: 47px;

    }
    &__header-image {
        width: 887px;
        height: 631px;
        box-sizing:border-box;

        img{
        box-shadow: $box-shadow;
        }
    }

    &__container-second {
        width: 1248px;
        height: 1232px;
        border: 1px solid black;
    }

    &__dashboard {
        margin-left: -96px;
        border: 1px solid black;
    }

    &__customer-say {
        margin-left: -96px;
        border: 1px solid black;
    }
}


