
@import '/src/styles/utils/variables';

$color1: #ffffff;
$color2: #6e757c;
$color3: #282828;
$color4: #272e35;
$color5: #606060;
$color6: rgb(249, 249, 249);
$color7: #574B90;

 $box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

 $border: 1px solid #cbcbcb;
 $border1: 3px solid $color-brand;


.pricing {
    background-color: $color1;
    border-radius: 10px;
    box-shadow: $box-shadow;
    padding-top: 51px;
    width: 1248;
    height: 1171px;
    margin: 0 auto;

    hr {
        margin-block: 40px;
        border:  $border;
        width: 1246px;
        height: 0px;
    }

    &__container {
        text-align: center;
    }

    &__header-inner {
        display: flex;
        padding-left: 65px;
        padding-right: 92px;
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 135px;
        margin-right: 428px;
    }
    &__subtitle {
        font-family: $font-family-second;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $color2;
        text-align: left;
    }

    &__title {
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: $color3;
        text-align: left;
    }

    &__plans {
        display: flex;
        width: 531px;
        gap: 225px;
    }

    &__plans-price {
        display: flex;
        width: 531px;
        gap: 250px;
    }
    
    &__plan {
        display: flex;
        flex-direction: column;
        gap: 31px;

        h3 {
            font-family: $font-family-brand;
            font-weight: 600;
            font-size: 35px;
            line-height: 120%;
            letter-spacing: -0.03em;
            color: $color3;
            text-align: left; 
        }
    }

    &__sign {
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: $color4;
        align-self: flex-start; // выравнивание по верхней границе
    }

    &__price {
        display: flex;
        align-items: flex-end; // выравнивание по нижней границе по умолчанию
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 64px;
        line-height: 112%;
        color: $color4;
        height: 72px;
        width: 112px;
    }

    &__amount {
        display: flex;
        align-items: flex-end;
    }

    &__month {
        font-family: $font-family-second;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $color2;
    }

    &__core-features {
        text-align: left;
        margin-bottom: 30px;
        padding-left: 65px;
        padding-right: 92px;

        h3 {
            font-size: 1.8em;
            margin-bottom: 20px;
        }
    }

    &__core-features-title {
        font-family: $font-family-brand;
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: $color4;
    }
        &__list {
        width: 971px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 48px;
        margin-bottom: 60px;
        }

        &__item {
            width: 971px;
            display: flex;
            justify-content: space-between;
            font-family: $font-family-brand;
            font-weight: 500;
            font-size: 22px;
            line-height: 145%;
            color: $color5;
        }

        &__ticks {
            display: flex;
            justify-content: space-between;
            width: 400px;
}

&__buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 104px;
}

&__buttons-wrapper {
width: 520px;
display: flex;
justify-content: space-between;
}

&__btn {
    width: 146px;
    height: 58px;
    box-sizing: border-box;
    border: $border1;
    border-radius: 12.41px;
    background-color: $color-brand;
    font-family: $font-family-brand;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color6;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background-color: $color7;
}
}
}


