@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixinsMobile';
@import '/src/styles/utils/animations';


.customer-say {

    &__wrapper {
        max-width: 1722px;
        width: 100%;
        height: 507px;
        padding: 0;
        margin-top: 100px;
        // border: 1px solid black;

        @include respond-to(mobile-portrait) {//0px
            margin-top: 85px;
            max-width: 1722px;
            margin-inline:0;
            height: 384px;
        }
        @include respond-to(tablet-portrait) {//768px
            max-width: 1224px;
            margin: 0;
            height: auto;
            margin-top: 85px;
        }
        @include respond-to(tablet-landscape) {//992px
            margin-top: 71px;
        }
        @include respond-to(large-desktop) {//1600px
            margin-top: 100px;
            max-width: 1722px;
        }
    }

    &__inner {
        max-width: 1722px;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
        justify-content: center;

        @include respond-to(mobile-portrait) {//0px
            gap: 55px;
        }
        @include respond-to(tablet-portrait) {//768px
            max-width: 1722px;
            margin: 0;
            height: auto;
        }
    }

    &__title {

        h2 {
        @include respond-to(mobile-portrait) {//0px
            width: 161px;
            display: block;
            margin-inline: auto;
        }
        @include respond-to(tablet-portrait) {//768px
            width: 100%;
        }
    }
    }
}

.title {
        opacity: 0;  // Начальное состояние для анимации
        transform: translateY(20px);  // Начальное состояние для движения снизу вверх
    }
.fadeIn {
  animation: fadeIn 1s forwards ease-in-out;  // Применение анимации
}