
@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixinsMobile';


.top-restaurants {

    &__wrapper {
        max-width: 1248px;
        width: 100%;
        padding: 0;
    } 

    &__inner{
        margin-bottom: 120px;
        // margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond-to(mobile-portrait) {//0px
            margin-bottom: 66px;
            // margin-top: 84px;
        }
        @include respond-to(tablet-portrait) {//768px
            margin-bottom: 85px;
            // margin-top: 120px;
        }
        @include respond-to(tablet-landscape) {//992px
            margin-bottom: 85px;
            // margin-top: 120px;
        }
        @include respond-to(large-desktop) {//1600px
            margin-bottom: 120px;
            // margin-top: 100px;
        }
    }

    &__cards {
        max-width: 1249px;
        // margin-top: 86px;
        display: flex;
        justify-content: space-between;
        flex: 1 1 calc(33.333% - 20px); // для 3 карточек на 100% ширины контейнера

        @include respond-to(mobile-portrait) {//0px
            flex: 1 1 calc(33.333% - 20px); // для 3 карточек на 480px
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 40px;
            align-items: center;
            // margin-top: 59px;
        }
        @include respond-to(mobile-landscape) { // 480px
            flex: 1 1 calc(33.333% - 20px); // для 3 карточек на 480px
            flex-direction: column;
            gap: 40px;
        }
        @include respond-to(tablet-landscape) {//992px
            flex: 1 1 calc(50% - 20px); // для 2 карточек на 768px
            flex-direction: row;
            justify-content: space-between;
            gap: 1.25rem;
        }
        @include respond-to(desktop) { // 1200px
            margin-left: 0px;
            margin-right: 0px;
            justify-content: space-between;
        }
        @include respond-to(large-desktop) {//1600px
            // margin-top: 86px;
            flex: 1 1 calc(33.333% - 20px); // для 3 карточек на 1200px
        }
        }

    &__wrapper-link{
        margin-top: 66px;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @include respond-to(mobile-portrait) {//0px
            max-width: 300px;
            margin-top: 61px;
        }
        @include respond-to(tablet-landscape) {//992px
            max-width: 100%;
            margin-top: 47px;
        }
        @include respond-to(large-desktop) {//1600px
            margin-top: 66px;
        }
    }

    &__link {
        font-family: $font-family-brand;
        font-weight: 500;
        font-size: 20px;
        line-height: 2.26;
        letter-spacing: -0.01em;
        color: rgb(172, 173, 185);
        display: flex;
        gap: 18px;
        align-items: center;
        transition: transform 0.3s;

        @include respond-to(mobile-portrait) {//0px
            font-size: 20px;
        }
        @include respond-to(tablet-portrait) {//768px
            font-size: 14px;
        }
        @include respond-to(tablet-landscape) {//992px
            font-size: 20px;
        }
        @include respond-to(desktop) {//1200px
            font-size: 20px;
        }
        
        &:hover {
            transform: scale(1.2);
        }
        
    }
}