@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixinsMobile';

.top-restaurants {
    margin-top: 100px;

    h2 {
        margin-bottom: 86px;
        text-align: center;
        width: 100%;

            @include respond-to(mobile-portrait) {//0px
                 margin-bottom: 59px;
            
             
        }
        @include respond-to(tablet-portrait) {//768px
            margin-bottom: 59px;
          
        }
        @include respond-to(tablet-landscape) {//992px
           
        
        }
        @include respond-to(large-desktop) {//1600px
            
            
        }
    }

    @include respond-to(mobile-portrait) {//0px
            
             margin-top: 84px;
        }
        @include respond-to(tablet-portrait) {//768px
            
           margin-top: 120px;
        }
        @include respond-to(tablet-landscape) {//992px
           
           margin-top: 120px;
        }
        @include respond-to(large-desktop) {//1600px
            
             margin-top: 100px;
        }
}
