.breadcrumbs {
  padding: 1rem ;
  background-color: transparent;
  font-size: 1rem;

  .breadcrumbList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    .breadcrumbItem {
      margin-right: 0.5rem;

      a {
        text-decoration: none;
        color: rgb(108, 95, 188);
            font-weight: 500;
            text-transform: capitalize; // Добавлено

        &:hover {
          text-decoration: underline;
          opacity: .7;
        }
      }
    }

    .breadcrumbItemActive {
      margin-right: 0.5rem;
          color: rgb(96, 96, 96);
              font-weight: 500;
    }

    .breadcrumbItem::after {
      content: '/';
      margin-left: 0.5rem;
          color: rgb(96, 96, 96);
              font-weight: 500;
    }

    .breadcrumbItem:last-child::after {
      content: '';
      margin-left: 0;
    }
  }
}
