@import '../utils/variables.scss';
@import '../utils/mixinsMobile.scss';
@import '../utils/mixinHoverButton';

.input__email, .input__submit {
    border-radius: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
.input__email {
    color: #59546A;
    width: 440px;
    height: 68px;
    box-shadow: 0 7px 45px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border:none;

    @include respond-to(mobile-portrait) {//0px
        width: 260px;
        height: 48px;
    }

    @include respond-to(mobile) {//320px
    } 

    @include respond-to(mobile-landscape) {//480px
    }

    @include respond-to(tablet-portrait) {//768px
        width: 313px;
        height: 48px;
    }

    @include respond-to(tablet-landscape) {//992px
        width: 313px;
        height: 48px;
    }
    @include respond-to(desktop) {//1200px
        width: 440px;
        height: 68px;
    }
    @include respond-to(large-desktop) {//1600px
    }
    @include respond-to(tv) {//1920px
    }


    &::placeholder {
        font-family: $font-family-brand;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: #878787;

        @include respond-to(mobile-portrait) {//0px
            font-size: 10px;
        }

        @include respond-to(mobile) {//320px
        } 

        @include respond-to(mobile-landscape) {//480px
        }

        @include respond-to(tablet-portrait) {//768px
            font-size: 11px;
        }

        @include respond-to(tablet-landscape) {//992px
            font-size: 11px;
        }
        @include respond-to(desktop) {//1200px
            font-size: 16px;
        }
        @include respond-to(large-desktop) {//1600px
        }
        @include respond-to(tv) {//1920px
        }

    }
}

.input__submit {
    border-radius: 11px;
    width: 132px;
    height: 53px;
    background-color: #6c5fbc;
    margin-left: -140px;
    border: none;
    //--------------------
    font-family: $font-family-brand;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f7f8fa;

    @include respond-to(mobile-portrait) {//0px
        width: 86px;
        height: 35px;
        font-size: 9px;
        margin-left: -90px;
    }

    @include respond-to(mobile) {//320px
    } 

    @include respond-to(mobile-landscape) {//480px
    }

    @include respond-to(tablet-portrait) {//768px
        width: 94px;
        height: 38px;
        font-size: 10px;
        margin-left: -100px;
    }

    @include respond-to(tablet-landscape) {//992px
        width: 94px;
        height: 38px;
        font-size: 10px;
        margin-left: -100px;
    }
    @include respond-to(desktop) {//1200px
        width: 132px;
        height: 53px;
        font-size: 14px;
        margin-left: -140px;
    }
    @include respond-to(large-desktop) {//1600px
    }
    @include respond-to(tv) {//1920px
    }

}

.input__email::selection {
    background-color: #614CE6;
}