// Add global styles
body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: $font-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // предотвратить горизонтальный скролл
}

.container {
  padding: 0 10px;
  max-width: 1440px;
  padding-inline:96px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main {
  flex-grow: 1; //прижали футер вниз
}

h1{
  margin: 0;
  padding: 0;
}
