// src/styles/base/_typography.scss
@import '../utils/variables';
@import '../utils/mixinsMobile.scss';

$color1:#201f1f33;
$color2:#201f1f;
$color3:#676767;
$color4:#18181b;
$color5:#ffffff;
$color6:#252525;
$color7:#8d8d8d;
$color8:#000;

.accent {
  color: $color-brand-dark;
}

.text-centered {
text-align: center;
}
.hero-subtitle {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.13em;
  color: $color1;

  @include respond-to(mobile-portrait) {//0px
    font-size: 9px;
    color: $color2;
    text-align: center;
  }
  @include respond-to(tablet-portrait) {//768px
    text-align: left;
  }
}

.hero-title {
  font-family:$font-poppins;
font-size: 75px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -3px;
text-align: left;
color: $color2;

  @include respond-to(mobile-portrait) {//0px
    font-size: 46px;
    text-align: center;
    }
  @include respond-to(tablet-portrait) {//768px
  text-align: left;
  }
  @include respond-to(tablet-landscape) {//992px
    font-size: 53px;
    }
  @include respond-to(desktop) {//1200px
    font-size: 75px;
    }
  @include respond-to(large-desktop) {//1600px
    font-size: 75px;
    }
}

.text {
  font-family: $font-inter;
font-weight: 400;
font-size: 18px;
line-height: 1.55556;
text-align: justify;
color: $color3;

  @include respond-to(mobile-portrait) {//0px
    font-size: 11px;
    }
  @include respond-to(tablet-portrait) {//768px
    font-size: 12px;
  }
  @include respond-to(desktop) {//1200px
    font-size: 18px;
    }
}

.section-title {
  font-family: $font-poppins;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.14;
  text-transform: capitalize;
  color: $color4;

  @include respond-to(mobile-portrait) {//0px
    font-size: 30px;
    }
  @include respond-to(tablet-portrait) {//768px
      font-size: 36px;
    }
  @include respond-to(tablet-landscape) {//992px
    font-size: 36px;
    }
  @include respond-to(desktop) {//1200px
    font-size: 50px;
    }
}

.section-text {
  font-family: $font-inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: $color3;

  @include respond-to(mobile-portrait) {//0px
    font-size: 12px;
  }
  @include respond-to(tablet-landscape) {//992px
    font-size: 14px;
  }
  @include respond-to(desktop) {//1200px
    font-size: 20px;
  }
}

.text-button {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  text-transform: capitalize;
  text-align: center;
  color: $color5;

  @include respond-to(mobile-portrait) {//0px
    font-size: 12px;
    }
  @include respond-to(tablet-portrait) {//768px
    font-size: 12px;
  }
  @include respond-to(desktop) {//1200px
    font-size: 18px;
  }
}

.section-title-second {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 45px;
  line-height: 0.56797;
  color: $color-section-title-second;
  text-align: center;
  width: 100%;

  @include respond-to(mobile-portrait) {//0px
    font-size: 30px;
    width: 281px;
    line-height: 1.2;
  }
  @include respond-to(tablet-portrait) {//768px
    width: 100%;
    font-size: 31px;
  }
  @include respond-to(large-desktop) {//1600px
    font-size: 45px;
    }

}

.section-title-contact {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.38512;
  color: $color6;
}

// -----------Blog-------------------

.post-title {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 37px;
  line-height: 1.19;
  color: $color6;
}

.post-written {
  font-family: $font-poppins;
  font-weight: 400;
  font-size: 15px;
  color: $color7;
}

.post-author {
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 21px;
  line-height: 153%;
  color: $color8;
}

.article-title {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 33px;
  line-height: 135%;
  text-transform: capitalize;
  color: $color6;
}

.post-description {
  font-family: $font-poppins;
  font-weight: 400;
  font-size: 22px;
  line-height: 202%;
  text-align: justify;
  color: $color6;
}

.sidebar-title {
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 148%;
  color: $color6;
}