// src/styles/base/_typography.scss
@import '../utils/variables';
@import '../utils/mixinsMobile.scss';

// body {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
//   line-height: 1.6;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-weight: 600;
//   line-height: 1.25;
// }

// p {
//   margin-bottom: 1rem;
// }

.hero-subtitle {
  font-family: $font-family-brand;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.13em;
  color: #201f1f33;

  @include respond-to(mobile-portrait) {//0px
    font-size: 9px;
    color: #201f1f;
    text-align: center;
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
    text-align: left;
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1920px
  }

}

.hero-title {
  font-family: $font-family-brand;
font-size: 75px;
font-weight: 600;
line-height: 1.2;
letter-spacing: -3px;
text-align: left;

@include respond-to(mobile-portrait) {//0px
  font-size: 46px;
  text-align: center;
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
   text-align: left;
  }

@include respond-to(tablet-landscape) {//992px
   font-size: 53px;
  }
@include respond-to(desktop) {//1200px
  font-size: 53px;
  }
@include respond-to(large-desktop) {//1600px
  font-size: 75px;
  }
@include respond-to(tv) {//1920px
  }
}

.text {
  font-family: $font-family-second;
font-weight: 400;
font-size: 18px;
line-height: 1.55556;
text-align: justify;
color: #676767;

@include respond-to(mobile-portrait) {//0px
  font-size: 11px;
  }

  @include respond-to(mobile) {//320px
  } 

@include respond-to(mobile-landscape) {//480px
  }

  @include respond-to(tablet-portrait) {//768px
    font-size: 12px;
  }

@include respond-to(tablet-landscape) {//992px
  }
@include respond-to(desktop) {//1200px
  font-size: 18px;
  }
@include respond-to(large-desktop) {//1600px
  }
@include respond-to(tv) {//1920px
  }

}